<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/signup" method="POST">
        Email: <input type="email" name="email" required><br>
        First Name: <input type="text" name="fName" required><br>
        Last Name: <input type="text" name="lName" required><br>
        Gender: <input type="text" name="gender" required><br>
        Profession: <input type="text" name="profession" required><br>
        Role: <input type="text" name="role" required><br>
        Contact Number: <input type="number" name="contact" required><br>
        <input type="submit" value="Signup"><br>
    </form>
</body>
</html>